.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .joke {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .btn0 {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn0:hover {
    background-color: #0056b3;
  }
  